.centerbox{
    min-width: 1000px;
    display:-webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}
.title{
    font-size: 17px;
    color: #696C6F;
    text-align: left;
    margin-top: 20px;
}
.title span{
    font-size: 16px;
    display: inline-block;
    margin-left: 5px;
}
.detailbox{
    /*background: red;*/
    margin: 20px 20% 0 20%;
    min-width: 900px;
}
.ivu-checkbox-checked .ivu-checkbox-inner:after{
    width: 10px;
    height: 14px;
    top:0;
}
.ivu-checkbox-inner{
    width: 20px;
    height: 20px;
}
.zhuanyixuke{
    margin: 0;
    padding: 5px 10px;
    border: 1px solid #2666FE;  //自定义边框
    outline: none;
    background: #fff;
    border-radius: 5px;
    font-size: 14px;
    color: #2666FE;
    margin-right: 20px;
    cursor:pointer;
  }
  .zhuanyixukes{
    margin: 0;
    padding: 5px 10px;
    border: 1px solid #1D60FE;  //自定义边框
outline: none;
    background: #1D60FE;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    margin-right: 20px;
    cursor:pointer;
}
.fullpage{
    margin-top: 30px;
}
.brspan{
    color:#FF5E5E;
    margin-left:74px;
  }
  .brspan:first-child{
     margin-left:0;
  }
  .brspans{
    color:#FF5E5E;
    margin-left:69px;
  }
  .brspans:first-child{
     margin-left:0;
  }
  /* 小屏幕秀 */
  .smalltextbox{
      padding: 10px;
      margin: 10px 20px;
      box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.1);
      height: 100px;
      overflow-y: auto;
  }
  .smalltextbox div{
      text-align: left;
      font-size: 14px;
      padding: 5px 0;
  }
  .chartone{
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  .callinbox{
    padding: 10px 0 ;
  }
  .callinbox span{
    display:inline-block;
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    color: #00B7EE;
    padding: 3px 5px;
    margin: 5px;
    border-radius:4px;
  }
  .callinboxs{
    padding: 10px 0 0 0;
  }
  .callinboxs span{
    display:inline-block;
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    color:#FF0000;
    padding: 3px 5px;
    margin: 5px;
    border-radius:4px;
  }
  .longtable .ivu-table-tip table td {
    text-align: left;
    padding-left: 700px;
}