@import '~iview/src/styles/index.less';

// Here are the variables to cover, such as:
@primary-color: #15b2f4;
#loginform .ivu-form .ivu-form-item-label{
  font-size: 14px;
  color: #fff;
}

.ivu-input{
  border-radius: 4px 0 0 4px;
}
.ivu-page-item:hover {
  border-color: #729BFE;
}
.ivu-page-item-active{
  border: none;
  background: #729BFE;
  border: 1px solid #729BFE;
}
.ivu-page-item-active:hover a{
  color: #729BFE;
}
.ivu-page-item-active a, .ivu-page-item-active:hover a{
  color: #fff;
}
.ivu-table th{
  background:#5285FE;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
.ivu-table-row td:last-child{
  color: #5285FE;
  cursor:pointer;
  text-align: center;
}
.ivu-modal{
  top:20%;
}
.historywork .ivu-timeline-item-tail{
  left: -5px;
  position:absolute;
}
.ivu-timeline-item-tail{
  border-left: 5px solid #00A0E9;
  left:4px;
}
.ivu-timeline-item-head-custom{
  z-index: 999;
}
.ivu-radio-inner{
  width:20px;
  height: 20px;
}
.ivu-radio-inner:after {
  width: 12px;
  height: 12px;
  left: 3px;
  top: 3px;
}
.tablechangebox .ivu-table th{
  background: #fff;
  color: #696C6F;
  font-weight:normal;
}
.tablechangebox .ivu-table-cell{
  padding: 0 5px;
  font-size: 13px;
}
.tablechangebox .address{
  text-align:left ;
  }
  .tablechangebox .ivu-table-header .address{
    text-align:center ;
  }
  .tablechangebox .updatetime .ivu-table-cell{
    color: #696C6F;
  }
  .ivu-collapse > .ivu-collapse-item > .ivu-collapse-header{
    text-align: left;
  }
  .bigtable .ivu-table-cell{
    padding:0;
  }
  .ivu-tabs-nav .ivu-tabs-tab-active {
    color: #1D60FE;
  }
  .ivu-tabs-ink-bar{
    background: #1D60FE;
  }
  .ivu-dropdown-item{
    font-size: 15px !important;
  }
  #addressdetail .ivu-modal-header{
    padding:0;
  }
  #addressdetail .ivu-modal-footer{
    border-top:none;
    text-align: center;
  }
 